body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #F4A460;
  
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-blend-mode: darken;
}

.navbar {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #fff;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: white;
}

.navbar .btn-outline-success {
  border-color: #fff;
  color: #fff;
}

.navbar .btn-outline-success:hover {
  background-color: white;
  border-color: white;
  color: #000;
}

.navbar .btn-outline-light {
  margin-right: 0.5rem;
}

.navbar .btn-warning {
  color: #000;
}

.container {
  margin-top: 0;
  width: 1000px;
  padding: 20px;
  background-color:transparent;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
  border-radius: 8px;
}

input[type="date"],
input[type="number"],
input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid blue;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #45a049;
}


.container .row .col-lg-8 { /* Change this */
  padding: 20px;
  background-color:transparent;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
  border-radius: 8px;
  margin-top: 100px; /* adjust this as per your header height */
}
footer {
  flex-shrink: 0;
  background-color: gray;
}
iframe {
  margin-left: 700px;
  margin-top: 200px;
  border: 20px;
  border-radius: 10px;
}
  